code { 
    font-family: "Courier New",monospace;
    font-size: 90%;
    line-height: 1.4em;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #eaeaea;
    padding-left: 20px;
    margin-top: 20px;
}

canvas {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid #000;
    border-radius: 6px;
}

canvas:hover {
    border: 4px solid #6ea0a4;
}
.clearfix {
    clear:both;
}

#demo{
    width: 100%;
    height: 100%;
    background-color: #3f3f3f;
    padding-bottom: 20px;
}

.demo{
    display: none;
}

pre#demoPre {
    background:none;
    border: 0 none;
}

/* small mobile devices */
@media (min-width:320px) {
    canvas#demoCanvas {
        display: inline;
        float: left;
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    canvas#demoCanvas {
        display: inline;
        float: right;
        margin-top: -40px;
        width: 300px;
        height: 300px;
    }
    
    code#demoCode {
        display: inline;
        float: left;
        font-size: 100%;
        padding-left: 20px;
        width: 400px;
    }
}
