code { 
    display: block;
    font-family: "Courier New",monospace;
    font-size: 90%;
    line-height: 1.4em;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #eaeaea;
    padding-left: 20px;
    margin-top: 20px;
}

canvas {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 4px solid #000;
    border-radius: 6px;
}

canvas:hover {
    border: 4px solid #6ea0a4;
}
.clearfix {
    clear:both;
}

#demo{
/*    position: absolute;
    left:0px;
    right:0px;
    width: 100%;
    height: 700px;*/
    width: 100%;
    height: 100%;
    background-color: #3f3f3f;
    /*opacity: 50%;*/
}

.demo{
    display: none;
}

pre#demoPre {
    background:none;
    border: 0 none;
}

/* tablets */
@media (min-width: 768px) {
    code#demoCode {
        display: inline;
        float: left;
        font-size: 90%;
        padding-left: 20px;
        width: 400px;
    }
    
    canvas#demoCanvas{
        display: inline;
        float: right;
        margin-top: -40px;
        width: 400px;
        height: 400px;
    }
}

/* small mobile devices landscape */
@media(max-width:767px){
    code#demoCode {
        display: inline;
        float: left;
        font-size: 120%;
        padding-left: 20px;
        width: 300px;
    }

    canvas#demoCanvas{
        display: inline;
        float: right;
        margin-top: -40px;
        width: 250px;
        height: 250px;
    }
}

/* small mobile devices landscape */
@media(max-width:477px){
    canvas#demoCanvas{
        display: inline;
        width: 250px;
        height: 250px;
    }
}
