/* Gallery */

.textureReference {
  margin-left: auto;
  margin-right: auto;
}

iframe.texture {
  border: 1px solid black;
}

/* GLSL Render */

canvas.right {
  position: absolute;
  right: 10px;
  background-color: #fff;
}

/* styles to apply if in an iframe */

body.iframe {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.iframe canvas {
  width: 200px;
  height: 200px;
}
