body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 110%;
    margin-bottom: 40px;
    line-height: 1.4em;
    color: #444;
    margin-left: 40px;
	margin-right: 40px;
}

h1 {
    /*color: #d4645c;*/
    font-weight: 600;
    font-size: 200%;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #d4645c;
    color: white;
}

h2 {
    font-weight: 600;
    font-size: 120%;
    line-height: 1.4em;
    color: #444;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 120%;
    line-height: 1.4em;
    text-align: center;
    padding-bottom: 40px;
}

h4 {
    font-weight: 500;
    color: #6ea0a4;
    margin-bottom: 10px;
}